script.
    var confirm = !{onConfirm};
    var name = "!{name}";
    $(document).ready(() => {

        $('#conf-confirm').click(() => {
            if(confirm) confirm(name);
        });

        $('#conf-cancel').click(function() {
            var exit = $(this).closest('.modal').find('.modal-exit-button');
            exit.click();
        });

    });

div
    p(style='text-align: center; color: white;')= title != null ? title : 'Are you sure?'
    if ask
        div#ask(style='margin: auto; width: 150px;')
            input(type='checkbox')
            span(style='color: white;')= question
    button.button#conf-confirm(style='position: absolute; bottom: 5px; left: 10px; width: 75px; height: 25px;')= confirmText ? confirmText : 'Confirm'
    button.button#conf-cancel(style='position: absolute; bottom: 5px; right: 10px; width: 75px; height: 25px;')= cancelText ? cancelText : 'Cancel'
